$color-50: #ecf9ff;
$color-100: #e0f5fe;
$color-200: #baecfd;
$color-300: #7ddefc;
$color-400: #38cdf8;
$color-500: #0eb7e9;
$color-600: #0295c7;
$color-700: #0376a1;
$color-800: #076485;
$color-900: #0c526e;
$color-950: #083449;
$color-bg: #1a1a1a;
$color-gray: #b5b5b5;
$color-black: #000000;
$color-white: #ffffff;
