@font-face {
  src: url("../assets/fonts/Title_Light.woff") format("woff");
  font: {
    family: "Gyeonggi Title";
    weight: 300;
    style: normal;
  }
}

@font-face {
  src: url("../assets/fonts/Title_Medium.woff") format("woff");
  font: {
    family: "Gyeonggi Title";
    weight: 500;
    style: normal;
  }
}

@font-face {
  src: url("../assets/fonts/Title_Bold.woff") format("woff");
  font: {
    family: "Gyeonggi Title";
    weight: 700;
    style: normal;
  }
}

@font-face {
  src: url("../assets/fonts/PretendardJPVariable.woff2")
    format("woff2-variations");
  font: {
    family: "Pretendard JP Variable";
    weight: 45 920;
    style: normal;
    display: swap;
  }
}
