@use "font" as *;
@use "color" as *;

@mixin settingText {
  font: {
    family: "Gyeonggi Title", sans-serif;
    weight: 500;
  }
  color: $color-white;
}

.setting-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 10px;

  label {
    @include settingText;
    margin: 0 0 8px 5px;
  }

  .image-pos {
    @include settingText;

    &:before {
      content: ": ";
    }
  }

  button {
    @include settingText;
    background-color: $color-800;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 8px 10px;
    margin: 8px 0 8px 0;
  }

  textarea {
    outline: none;
    border: transparent;
    font: {
      family: "Pretendard JP Variable", sans-serif;
      weight: 500;
    }
    border-radius: 5px;
    padding: 10px;
    resize: none;
    display: block;
    width: 100%;

    &:disabled {
      color: $color-gray;
    }
  }
}
