@use "font" as *;
@use "color" as *;

.setting-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 10px;

  label {
    font-family: "Gyeonggi Title", sans-serif;
    font-weight: 500;
    color: $color-white;
    margin: 0 0 8px 5px;
  }

  button {
    font-family: "Gyeonggi Title", sans-serif;
    font-weight: 500;
    background-color: $color-800;
    color: $color-white;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 8px 10px;
    margin: 8px 0 8px 0;
  }
}
